<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Website that show you the recomended restaurant around you" />

    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./app.webmanifest" />

    <title>Flavor Quest</title>
  </head>
  <body>
    <button id="skip-to-content" class="skip-to-content">Skip To Content</button>

    <header>
      <app-bar></app-bar>
      <hero-section></hero-section>
    </header>

    <main id="main" tabindex="0"></main>

    <footer>
      <footer-bar></footer-bar>
    </footer>
  </body>
</html>
